body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body, #app, #app>div {
  height: 100%;
}

main {
  width: 70%;
  height: 65vh;
  background-color: grey;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: darkgray;
}

.nav-buttons {
  margin: 10px;
}

.header-section {
  /* border: 3px solid blue; */
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 22vh;
  width: 100%;
  background-color: darkgray;
}

.buttons-section {
  display: flex;
  justify-content: center;
}

.title-header {
  /* margin: 10px; */
  margin-top: 30px;
  color: #0275d8;
}

.footer-section {
  height: 13vh;
  width: 70%;
}

.nav-title {
  color: black;
  margin-top: 20px;
  border-bottom: 1px solid black;
}

.about-text {

}

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-height: 300px;
  overflow-y: scroll;
}

.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label{ 
  font-size: 20px;
  font-weight: 500;
}
.card {
  margin: 10px;
}